/* main page css */
body {
background-color: #121212;
color: lightgray;
}
/* unvisited link */
a:link {
color: green;
}

/* visited link */
a:visited {
color: darkgreen;
}

/* mouse over link */
a:hover {
color: lightgreen;
}

/* selected link */
a:active {
color: blue;
} 
