/* main page css */
body {
background-color:  #121212;
color: #FFF;
font: "Roboto";
}
/*CODE*/
code {
font: "Jetbrains Mono";
background-color: #1E1E1E;
color:  #D4D4D4;
border: 1px solid #D4D4D4;
}
/*LINKS*/
/* unvisited link */
a:link {
color: #4E94CE;
}

/* visited link */
a:visited {
color: #78B8E0;
}

/* mouse over link */
a:hover {
color: #A38CC4;
}

/* selected link */
a:active {
color: blue;
} 
